<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotic_arm">

    <!-- Gazebo ros2_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find diff_drive)/config/ros2_controllers.yaml</parameters>
        <parameters>$(find diff_drive)/config/gz_use_sim.yaml</parameters>
        <ros>
          <remapping>/diffbot_base_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
          <remapping>/diffbot_base_controller/odom:=/odom</remapping>
        </ros>
      </plugin>
    </gazebo>

</robot>