<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

    <xacro:arg name="use_mock_hardware" default="true" />

    <!-- Import diff_drive urdf file -->
    <!-- <xacro:include filename="$(find diff_drive)/urdf/turtlebot3_waffle.urdf" /> -->
    <xacro:include filename="$(find diff_drive)/urdf/diffbot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find diff_drive)/config/diff_drive.ros2_control.xacro" />

    <xacro:diff_drive_ros2_control
    name="DiffBot" use_mock_hardware="$(arg use_mock_hardware)"/>

    <!-- Include Gazebo Parameters -->
    <xacro:include filename="$(find diff_drive)/config/diff_drive_gazebo.xacro" />

</robot>
